#animation {
  width: 125px
  height: 125px
  background-color: white;
  background-repeat: no-repeat;
  background-image: url('../img/sprite.png');
}

#animation {
  animation-duration: 3s
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-name: ;
}
@keyframes row1 {

   0% {

      background-position: 0 0;

   }



   100% {

      background-position: -12000px 0;

   }

}



@keyframes row2 {

   0% {

      background-position: 0 -300px;

   }



   100% {

      background-position: -12000px -300px;

   }

}



@keyframes row3 {

   0% {

      background-position: 0 -px;

   }



   100% {

      background-position: -500px -250px;

   }

}
